<div class="login">
  <div class="wrapper">
    <div class="wrapper-body">
      <div class="text-center logo">
        <h1>A R I Z O N A</h1>
      </div>
      <form class="p-3 mt-3"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="Username" formControlName="username">
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Password" formControlName="password">
        </div>
        <button class="btn mt-3">Login</button>
      </form>
      <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        arizona
      </div>
    </div>
  </div>
</div>
